---
import Layout from '../../layouts/Layout.astro';
import CategoryNav from '../../components/CategoryNav.astro';
---

<Layout title="カテゴリ">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-8">アニメーションカテゴリ</h1>
    <CategoryNav />
  </div>
</Layout>
