---
import Layout from '../../layouts/Layout.astro';
import CategoryNav from '../../components/CategoryNav.astro';
---

<Layout title="カテゴリ">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-8">アニメーションカテゴリ</h1>
    
    <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
      以下のカテゴリから、様々なアニメーション技術を探索できます。
      各カテゴリには、実装方法の詳細な説明とコードサンプルが含まれています。
    </p>
    
    <CategoryNav />
  </div>
</Layout>
